{% extends 'base.html' %}

{% block content %}
<div class="content container-fluid">
       
    <div class="row">
       <div class="col-sm-12">
          <div class="card">
             <div class="card-body">
                <form method="post" action="{% url 'update_designation' %}" enctype="multipart/form-data" > 
                   {% csrf_token %}
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Edit Designation</span></h5>
                      </div>
                      {% include 'includes/messages.html' %}
 

                    
                      <div class="col-12">
                         <div class="form-group">
                            <label>Designation</label>
                            <input type="text"  class="form-control" value="{{designation.name}}" name="designation_name" required>
                            <input type="text"  class="form-control" value="{{designation.id}}" name="designation_id" hidden>
                         </div>
                      </div>
                      
                      <div class="col-12">
                         <button type="submit" class="btn btn-primary">Update Designation</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}